.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

li {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  li {
    width: 40%;
  }
}
