.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-third {
  width: calc(100% / 3);
}

.column-always-half {
  width: 57%;
}

div.weapon-list {
  margin-top: 100px;
  justify-content: center;
}

.green-card {
  margin-bottom: 18px;
}

form {
  margin-bottom: 14px;
}

.image-in-details {
  height: 216px;
  width: 216px;
  margin-bottom: 22px;
}

h3 {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 850px;
  }

  .column-half {
    width: 50%;
  }

  .green-card {
    margin-bottom: 35px;
  }

  div.weapon-list {
    margin-top: 100px;
    justify-content: space-between;
  }

  form {
    margin-bottom: 35px;
  }

  .image-in-details {
    height: 312px;
    width: 312px;
  }

  h3 {
    font-size: 16px;
  }
}
