.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.column-third {
  width: calc(100% / 3);
}

.column-always-half {
  width: 57%;
}

div.weapon-list {
  margin-top: 6.25rem;
  justify-content: center;
}

.green-card {
  margin-bottom: 1.125rem;
}

form {
  margin-bottom: 0.875rem;
}

.image-in-details {
  height: 13.5rem;
  width: 13.5rem;
  margin-bottom: 1.375;
}

h3 {
  font-size: 0.688rem;
}

.font-size-17 {
  font-size: 1.063rem;
}

.font-size-15 {
  font-size: 0.938rem;
}

.green-card-details {
  height: 26.188rem;
  width: 20.375rem;
  background-color: #d9f9d3;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 850px;
  }

  .column-half {
    width: 50%;
  }

  .green-card {
    margin-bottom: 2.188rem;
  }

  div.weapon-list {
    margin-top: 6.25rem;
    justify-content: space-between;
  }

  form {
    margin-bottom: 2.188rem;
  }

  .image-in-details {
    height: 19.5rem;
    width: 19.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .green-card-details {
    height: 26.188rem;
    width: 17.5rem;
    background-color: #d9f9d3;
    border-radius: 10px;
  }
}

@media screen and (max-width: 350px) {
  .column-always-half {
    width: 45%;
  }

  .font-size-17 {
    font-size: 0.813rem;
  }

  .font-size-15 {
    font-size: 0.688rem;
  }

  .green-card-details {
    height: 26.188rem;
    width: 17.5rem;
    background-color: #d9f9d3;
    border-radius: 10px;
  }
}
