.hidden {
  display: none !important;
}

/* Body, Buttons, Anchors, list elements */
button {
  font-family: Rye, cursive, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: background-color 1s;
}

body {
  background-image: url("../images/link-overlay.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Rye, cursive, Arial, Helvetica, sans-serif;
}

ul {
  padding-left: 0.625rem;
}

li {
  padding-left: 0;
  margin-left: 0;
  font-size: 0.688rem;
}

.no-list-styles {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.green-card {
  height: 7.875rem;
  width: 20.375rem;
  background-color: #d9f9d3;
  border: none;
  text-align: start;
}

.save-button {
  background: none;
  border: solid;
  border-radius: 4px;
  margin-right: 10px;
  border-width: 2px;
  height: 1.375rem;
}

.delete-button {
  background: none;
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  height: 22px;
  color: red;
}

a {
  cursor: pointer;
  transition: color 1s;
}

a:hover {
  color: rgb(128, 166, 231);
}

button:hover {
  background-color: rgb(128, 166, 231);
}

/* Page background */
.link-background {
  width: 100%;
  transform: scale(1.5);
}

/* Header */
.brown-background {
  background-color: #3c2b00;
}

.position-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Form elements */

form {
  width: 100%;
}

input {
  width: 100%;
}

/* Everything else */
.white-text {
  color: white;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.width-100 {
  width: 100%;
}

.image {
  height: 7.063rem;
  width: 7.063rem;
  margin-top: 0.375rem;
  border-radius: 0.625rem;
}

.margin-top-five {
  margin-top: 0.313rem;
}

.font-size-22 {
  font-size: 1.375rem;
}

.margin-bottom-5 {
  margin-bottom: 0.313rem;
}

.column-full,
.column-half {
  padding: 0 0.75rem;
}

.search-icon {
  color: white;
  font-size: 15px;
}

.border-radius-and-shadow {
  box-shadow: 5px 10px rgba(63, 61, 61, 0.253);
  border-radius: 10px;
}

.justify-center {
  justify-content: center;
}

.margin-left-10 {
  margin-left: 0.625rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.max-height-48 {
  max-height: 3rem;
}

.margin-right-10 {
  margin-right: 0.625rem;
}

.no-weapons-saved {
  text-align: center;
}

/* Loading Spinner Animation */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
